body{
  margin: 0 auto;
}

article{
  border: 1px solid #aaa;
  border-radius: 5px;
  width: 50%;
  min-width: 350px;
  box-sizing: border-box;
  float:left;
  align-items: center;
  position:relative;
  background-color: ccffcc;
  padding: 20px;
}

article img{
  float: left;
  margin-right: 20px;
}

article h2{
    text-align: center;
    justify-content: center;
}

article p{
  text-align: justify;

}

.lien{
  clear: both;
  text-align: center;
  font-weight: bold;
}

article:hover p.lien{
  transform: scale(1.5);
  transition: transform 1s ease-in-out, color 1s;
  font-weight: bolder;
  color: grey;
}

article button{
  border-radius: 5px;
  background-color: black;
  color: white;
  position: absolute;
  top: 0;
  right: 0;
}

button:target article{
  display: none;
}
